.card_category{
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 248px;
    width: 336px;
    font-size: 30px;
    border-radius: 4px;
    margin-bottom: 32px;
    margin-top: 32px;
    transition: box-shadow 0.3s ease;
    transition: color 0.3s ease;
    text-align: center;

    color: transparent; /* make the text invisible */
    user-select: none; 
}

.card_category:hover {
    box-shadow: 0px 10px 30px rgba(141, 139, 139, 0.477);
    color: rgba(0, 0, 0, 0.742);; /* make the text invisible */
    user-select: auto; 
    text-shadow: 0px 10px 30px rgba(0, 0, 2, 1);
    p {
        background-color: rgba(255, 255, 255, 0.742);
    }
}

.card_link {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.742);
}
