.grid a{
    text-decoration: none;
}

.grid a:hover{
    text-decoration: underline;
}

.grid{
    width: auto;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; /* Centre verticalement */
    justify-content: stretch; /* occupe toute la largeur disponible*/
}

@media(max-width:768px) {
    .grid{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); /* Deux colonnes pour les tablettes */
    }
  }
