.grid a{
    text-decoration: none;
}

.grid a:hover{
    text-decoration: underline;
}

.grid{
    /* width: 700px; */
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; /* Centre verticalement */
    justify-content: center; /* Centre horizontalement */
}

@media(max-width:768px) {
    .grid{
        grid-template-columns: 1fr;
    }
}